.services {
  color: #fff;
  background-color: black;
  &__header {
    color: #fff;
    text-align: center;
    ul {
      display: flex;
      justify-content: center;
      gap: 15px;
      li:nth-child(3) {
        color: #f97316;
      }
    }
    h2 {
      font-size: 33px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
  &__groups {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .services__group {
      background-color: #1C140F;
      padding: 40px 0;
      display: flex;
      border-radius: 10px;
      &__first {
        display: flex;
        align-items: center;
        gap: 35px;
        padding: 30px 90px;
        &__icon {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #FFECEC;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #DC7000;
          font-size: 18px;
        }
        span {
          font-size: 23px;
          font-weight: 700;
          span {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
      &__second {
        display: flex;
        align-items: center;
        gap: 35px;
        padding: 30px 90px;
        border-left: 2px solid #EEEFF2;
        border-right: 2px solid #EEEFF2;
        &__icon {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #FFECEC;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #DC7000;
          font-size: 1.125rem;
        }
        span {
          font-size: 23px;
          font-weight: 700;
          span {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
      &__third {
        display: flex;
        align-items: center;
        gap: 35px;
        padding: 30px 90px;
        &__icon {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #FFECEC;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #DC7000;
          font-size: 1.125rem;
        }
        span {
          font-size: 23px;
          font-weight: 700;
          span {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
  &__video {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 85px;
    &__right {
      display: flex;
      flex-direction: column;
      width: 425px;
      gap: 20px;
      h4 {
        font-size: 30px;
        font-weight: 700;
      }
      span {
        display: flex;
        align-items: center;
        font-size: 14px;
        .icon__check {
          font-size: 20px;
          color: #2FAB73;
          margin-right: 5px;
        }
      }
    }
  }
  &__blogs {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 180px;
    .services__blog {
      display: flex;
      justify-content: center;
      gap: 140px;
      &__left {
        width: 535px;
        display: flex;
        flex-direction: column;
        gap: 45px;
        h5 {
          font-size: 30px;
          font-weight: 700;
        }
        p {
          font-size: 17px;
        }
        button {
          background-color: #DC7000;
          width: 180px;
          height: 50px;
        }
      }
      &__right {
        img {
          width: 490px;
          height: 100%;
        }
      }
    }
  }
}
