@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
 .active {
@apply underline text-orange
  }
}

@font-face {
  font-family: 'oceanwide';
  src: url('/fonts/semibold-oceanwide-39941/Oceanwide-Semibold.otf') format('OpenType');

}
body {

  font-family: 'oceanwide';
}
